
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure
allure-results/
allure-report/

# Downloads and outputs (test artifacts)
downloads/
out/
/tests/15_FileDownLoad/downloads/
